@import url('https://fonts.googleapis.com/css2?family=open+sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background-color: rgb(248, 246, 244);
    margin: 0;
    font-family: 'Open Sans';
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(107, 106, 106);
    font-weight: 500;
    @media (max-width: 550px) {
        width: 100%;
    }
}

h1 {
    color: rgb(55, 147, 147);
    font-size: medium;
}

hr {
    margin: 0;
    max-width: 65%;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid rgb(136,211,211);
    @media (max-width: 550px) {
        width: 100%;
        max-width: 100%;
    }
}

.top-line {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.something {
    display: flex;
    margin-top: 0px;
}
// from this point on header stuff

nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    width: 65%;
    margin: auto;
    @media (max-width: 550px) {
        width: 100%;
        margin: auto;
        margin-bottom: 5px;
    }
}

// responsive only (mobile)

.responsive-header-and-links {
    @media (min-width: 550px) {
        display: none;
        visibility: hidden;
        color:red;
    }
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.top-header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    max-width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.image-container > img {
    width: 100%;
    border-radius: 50%;
}

.name-container {
    font-size: x-large;
    color: rgb(55, 147, 147);
    margin-top: auto;
    margin-bottom: auto;
}

.icon-container {
    max-width: 15%;
    max-height: 15%;
    margin-top: 7.5px;
    margin-bottom: auto;
}

.icon-container > button > img {
    width: 100%;
}

.icon-container > button {
    text-decoration: none;
    border: none;
    background: none;
}

.page-selector {
    width: 100%;
    opacity: 0;
    display: none;
    visibility: hidden;
}

// Figure out transition
.click{
    transition: height 2s ease-in;
}

// TODO pick nice color for box
.page-selector-links {
    box-sizing: border-box;
    border-bottom: 2px solid rgb(136,211,211);
    border-left: 2px solid rgb(136,211,211);
    border-right: 2px solid rgb(136,211,211);
    position: absolute;
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: auto;
    margin-left: 0;
    padding-left: 20px;
    text-align: left;
    font-size: large;
    font-weight: bold;
    background-color: rgb(248, 246, 244);
    max-width: none;
    width: 100%;
}


.slide {
    transition: all .5s ease-in-out;
}

.page-selector-link {
    margin-top:15px;
    margin-bottom:15px;
    text-align: left;
}

.page-selector-link {
    text-decoration: none;
    color: rgb(55, 147, 147);
}

.page-selector-current {
    text-decoration: none;
    color: rgb(136, 211, 211);
}

// non-responsive (web)

.header-and-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 550px) {
        visibility: hidden;
        display: none;
        flex-direction: column;
    }
}

.left-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.img-container {
    width: 12.5%;
    margin-top: auto;
    margin-bottom: auto;
    @media (max-width: 550px) {
        width: 200%;
    }
}

.img-container > img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.name-and-icons-wrapper {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    @media (max-width: 500px) {
        margin-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

.icon {
    text-decoration: none;
}

.social-media-icons {
    padding-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 500px) {
        visibility: hidden;
        display: none;
        padding-top: 10px;
        max-width: 30%;
        display: flex;
        text-align: center;
    }
}

.social-media-icons > a {
    margin-right: 2.5px;
    margin-left: 2.5px
}

.social-media-icons > a > img {
    max-width: 3%;
    @media (max-width: 550px) {
        max-width: 40%;
    }
}

.name-title {
    margin-top:auto;
    margin-bottom: auto;
    font-size: xx-large;
    font-weight: 500;
    color: rgb(55, 147, 147);
    @media (max-width: 550px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.icons-and-links-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}

.social-media-icons-responsive {
    visibility: none;
    display: none;
    @media (max-width: 550px) {
        visibility: visible;
        display: flex;
        text-align: center;
        align-items: center;
        max-width: 30%;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 10px;
    }
}

.social-media-icons-responsive > a > img {
    max-width: 15%;
    @media (max-width: 550px) {
        max-width: 70%;
    }
}

.social-media-icons-responsive > a {
    @media (max-width: 550px) {
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
}

.links {
    display: flex;
    text-align: center;
    margin-top: auto;
    color: rgb(227, 244, 244);
    margin-bottom: auto;
    margin-left: auto;
    margin-right:0;
    // @media (max-width: 550px) {
    //     margin: auto;
    //     display: flex;
    //     justify-content: center;
    // }
}

.link {
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: rgb(55, 147, 147);
    font-size: large;
    font-weight: lighter;
}

.current-page {
    text-decoration: none;
    text-overflow: clip;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 3px;
    color: rgb(136, 211, 211);
    font-size: large;
    font-weight: lighter;
}

.social-media {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.social-media > a {
    margin-right: 10px;
    text-decoration: none;
    font-size: small;
    color: grey ;
    color: rgb(107, 106, 106);
}

// Main content
.content {
    @media (max-width: 550px) {
        width: 90%;
        margin: auto;
    }
    width: 65%;
    margin: auto;
}

.content a {
    text-decoration: none;
    color: rgb(136, 211, 211);
}

footer {
    display: flex;
    justify-content: space-between;
    width: 65%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    @media (max-width: 550px) {
        width: 90%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    // morgan magic shit 
    // position: fixed;
    // width: 40%;
    // bottom: 0;
    // @media (max-width: 1200px) {
    //     max-width: 90%;
    // }
}

.footer-social-media {
    @media (max-width: 550px) {
        max-width: 30%;
    }
    max-width: 10%;
    display: flex;
    float: left;
    justify-content: space-between;
}

.footer-icon > img{
    max-width: 50%;
}

.footer-text {
    font-size: small;
    color: rgb(55, 147, 147);
    margin-right: 0;
    margin-left: auto;
}

// content inside an individual post.

.post-entry {
    margin-bottom: 25px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
    }
}

.post-header > p-meta {
    margin-top: auto;
    margin-bottom: auto;
}

.post-header > .post-header-date {
    font-size: small;
    color:rgba(68, 72, 80, 0.57);
    margin-top: auto;
    margin-bottom: auto;
    @media (max-width: 550px) {
        text-align: center;
    }
}

.post-header > a {
    text-decoration: none;
    color:rgba(68, 72, 80, 0.92);
    :hover {
        color: rgba(68, 72, 80, 0.42)
    }
}

.post-header > h1 {
    margin-bottom: 5px;
    color: rgb(136, 211, 211);
    @media (max-width: 550px) {
        text-align: center;
        margin-bottom: 5px;
    }
}

.post-header > a > h2 {
    margin: 0;
    color: rgb(252, 220, 116);
    font-weight: 400;
}

// this is used for entry **listings** in the home and blogs page.
.blog-listing-entry {
    margin-bottom: 15px;
}

.blog-listing-title {
    margin: 0;
    padding: 0;
    font-size: large;
    color: rgb(136, 211, 211);
}

.blog-listing-header {
    display: flex;
    justify-content: space-between;
    @media (max-width: 550px) {
        display: flex;
        flex-direction: column;
    }
}
.blog-listing-header > a {
    text-decoration: none;
}

.blog-listing-date {
    font-size: small;
    color:rgba(68, 72, 80, 0.57);
    margin-top: 5px;
}

// this is going to change the page that contains the blog post.
.post-content > p > a {
    text-decoration: none;
    color: rgb(136, 211, 211);
}

// Blog Pages
.about-content a {
    text-decoration: none;
    color: rgb(136, 211, 211);
}