@import url('https://fonts.googleapis.com/css2?family=open+sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "nav.scss";
@import "footer.scss";
@import "post.scss";
@import "blog.scss";
@import "about.scss";
@import "home.scss";

body {
    background-color: rgb(248, 246, 244);
    margin: 0;
    font-family: 'Open Sans';
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: rgb(107, 106, 106);
    font-weight: 500;
    @media (max-width: 550px) {
        width: 100%;
    }
}

h1 {
    color: rgb(55, 147, 147);
    font-size: medium;
}

hr {
    margin: 0;
    max-width: 65%;
    width:100%;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid rgb(136,211,211);
    @media (max-width: 550px) {
        width: 100%;
        max-width: 100%;
    }
}

.top-line {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

// Main content
.content {
    @media (max-width: 550px) {
        width: 90%;
        margin: auto;
    }
    width: 65%;
    margin: auto;
}

.content a {
    text-decoration: none;
    color: rgb(136, 211, 211);
}