@import "utilities.scss";

nav {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    width: 65%;
    margin: auto;
    @media (max-width: 550px) {
        width: 100%;
        margin: auto;
        margin-bottom: 5px;
    }
}

// responsive only (mobile)

.responsive-header-and-links {
    @media (min-width: 550px) {
        display: none;
        visibility: hidden;
    }
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.top-header {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.image-container {
    max-width: 15%;
    margin-top: auto;
    margin-bottom: auto;
}

.image-container > img {
    width: 100%;
    border-radius: 50%;
}

.name-container {
    font-size: x-large;
    color: $primary_color;
    margin-top: auto;
    margin-bottom: auto;
}

.icon-container {
    max-width: 15%;
    max-height: 15%;
    margin-top: 7.5px;
    margin-bottom: auto;
}

.icon-container > button > img {
    width: 100%;
}

.icon-container > button {
    text-decoration: none;
    border: none;
    background: none;
}

.page-selector {
    width: 100%;
    opacity: 0;
    display: none;
    visibility: hidden;
}

// Figure out transition
.click{
    transition: height 2s ease-in;
}

// TODO pick nice color for box
.page-selector-links {
    box-sizing: border-box;
    border-bottom: 2px solid $secondary_color; 
    border-left: 2px solid $secondary_color; 
    border-right: 2px solid $secondary_color; 
    position: absolute;
    display: flex;
    flex-direction: column;
    float: left;
    margin-right: auto;
    margin-left: 0;
    padding-left: 20px;
    text-align: left;
    font-size: large;
    font-weight: bold;
    background-color: $background_color; 
    max-width: none;
    width: 100%;
}


.slide {
    transition: all .5s ease-in-out;
}

.page-selector-link {
    margin-top:15px;
    margin-bottom:15px;
    text-align: left;
}

.page-selector-link {
    text-decoration: none;
    color: $primary_color;
}

.page-selector-current {
    text-decoration: none;
    color: $secondary_color
}

// non-responsive (web)

.header-and-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media (max-width: 550px) {
        visibility: hidden;
        display: none;
        flex-direction: column;
    }
}

.left-header {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 0;
    margin-right: auto;
}

.img-container {
    width: 12.5%;
    margin-top: auto;
    margin-bottom: auto;
    @media (max-width: 550px) {
        width: 200%;
    }
}

.img-container > img {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
}

.name-and-icons-wrapper {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
    @media (max-width: 500px) {
        margin-left: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}

.icon {
    text-decoration: none;
}

.social-media-icons {
    padding-top: 20px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 500px) {
        visibility: hidden;
        display: none;
        padding-top: 10px;
        max-width: 30%;
        display: flex;
        text-align: center;
    }
}

.social-media-icons > a {
    margin-right: 2.5px;
    margin-left: 2.5px
}

.social-media-icons > a > img {
    max-width: 3%;
    @media (max-width: 550px) {
        max-width: 40%;
    }
}

.name-title {
    margin-top:auto;
    margin-bottom: auto;
    font-size: xx-large;
    font-weight: 500;
    color: $primary_color;
    @media (max-width: 550px) {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.icons-and-links-wrapper {
    margin-top: auto;
    margin-bottom: auto;
}

.social-media-icons-responsive {
    visibility: none;
    display: none;
    @media (max-width: 550px) {
        visibility: visible;
        display: flex;
        text-align: center;
        align-items: center;
        max-width: 30%;
        margin-left: auto;
        margin-right:auto;
        margin-bottom: 10px;
    }
}

.social-media-icons-responsive > a > img {
    max-width: 15%;
    @media (max-width: 550px) {
        max-width: 70%;
    }
}

.social-media-icons-responsive > a {
    @media (max-width: 550px) {
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
}

.links {
    display: flex;
    text-align: center;
    margin-top: auto;
    color: $nav_links_color;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:0;
    // @media (max-width: 550px) {
    //     margin: auto;
    //     display: flex;
    //     justify-content: center;
    // }
}

.link {
    text-decoration: none;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    color: $primary_color;
    font-size: large;
    font-weight: lighter;
}

.current-page {
    text-decoration: none;
    text-overflow: clip;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 3px;
    color: $secondary_color;
    font-size: large;
    font-weight: lighter;
}

.social-media {
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.social-media > a {
    margin-right: 10px;
    text-decoration: none;
    font-size: small;
}