$background_color: rgb(248, 246, 244);
$primary_color: rgb(55, 147, 147);
$secondary_color: rgb(136, 211, 211);
$post_font_color: rgba(68, 72, 80, 0.92);
$date_color:rgba(68, 72, 80, 0.57);
$nav_links_color: rgb(227, 244, 244);