---
layout: default
---

{{ content }}


<h1>Blog Posts</h1>
{% for post in site.posts %}
    <div class="blog-listing-entry">
        <div class="blog-listing-header"> 
            <a href="{{ post.url }}">
                    <h2 class="blog-listing-title"> 
                        {{post.title}}
                    </h2>
            </a>
            <p class="blog-listing-date">
                {{post.formatted-date}}
            </p>
        </div>
        {{post.description}}
    </div>
{% endfor %}